[submodule "LunaUnitFrames"]
	path = LunaUnitFrames
	url = git@github.com:zerosnake0/LunaUnitFrames.git
[submodule "Ace2"]
	path = Ace2
	url = git@github.com:zerosnake0/Ace2.git
[submodule "Ace3test"]
	path = Ace3test
	url = git@github.com:zerosnake0/Ace3test.git
[submodule "Ace3"]
	path = Ace3
	url = git@github.com:zerosnake0/Ace3v.git
[submodule "LibDataBroker-1.1"]
	path = LibDataBroker-1.1
	url = git@github.com:zerosnake0/libdatabroker-1-1.git
